# Core backend
django==4.1.1
djangorestframework==3.14.0
django-filter==22.1
django-extensions==3.2.1

# Webserver
gunicorn==20.1.0

# Auto Generated Swagger Doc
drf_spectacular==0.24.2

# Database
psycopg2-binary==2.9.3
sqlparse==0.4.3